<div class="main" id="main">
  <div id="grid"></div>
</div>

<div class="sidebar" [hidden]="!showSettings">
  <h1>GenLab</h1>
  <button class="btn btn-danger helpButton" (click)="toggleShowHelp()">Help</button>
  <hr>
  <h2>Options</h2>
  <form #optionsForm="ngForm" (ngSubmit)="onGenerate(optionsForm.value)">
    <div class="form-group">
      <label for="network">Network Type</label>
      <br><i>Default: 2D</i>
      <select class="form-control" id="network" required name="network" ngModel>
        <option value="1D" name="1D">1-Dimensional</option>
        <option value="2D" name="2D">2-Dimensional</option>
      </select>
    </div>
    <div class="form-group">
      <label for="wrap">Wrap?</label>
      <br><i>Default: Yes</i>
      <input type="checkbox" class="form-control" id="wrap" name="wrap" ngModel checked>
    </div>
    <div class="form-group">
      <label for="hoodType">Neighborhood Type</label>
      <br><i>Default: Moore</i>
      <select class="form-control" id="hoodType" name="hoodType" ngModel required>
        <option value="vn" name="vn">Von Neumann</option>
        <option value="moore8" name="moore8">Moore (8)</option>
        <!--<option value="moore24" name="moore24">Moore (24)</option>-->
      </select>
    </div>
    <!--<div class="form-group">
      <label for="radius">Neighborhood Radius</label>
      <br><i>Default: 1</i>
      <select class="form-control" id="radius" name="radius" ngModel required>
        <option value="1" name="1">1 Cell</option>
        <option value="2" name="2">2 Cells</option>
        <option value="3" name="3">3 Cells</option>
      </select>
    </div>-->
    <div class="form-group">
      <label for="netSize">Network Size</label>
      <br><i>Default: 20</i>
      <input type="text" class="form-control" id="netSize" name="netSize" ngModel required>
    </div>
    <div class="form-group">
      <label for="cellSize">Cell Size</label>
      <br><i>Default: 10 (measured in px)</i>
      <input type="text" class="form-control" id="cellSize" name="cellSize" ngModel required>
    </div>
    <div class="form-group">
      <label for="learnMethod">Learning Method:</label>
      <br><i>Default: Imitate-the-best</i>
      <select class="form-control" id="learnMethod" name="learnMethod" ngModel required>
        <option value="itb" name="itb">Imitate-the-best</option>
        <option value="mbr" name="mbr">Myopic Best Response</option>
        <option value="pi" name="pi">Probabilistic Imitation</option>
      </select>
    </div>
    <label>Tie-breaking Rule: <br><i>Choose random strategy</i></label>
    <div class="form-group">
      <label for="matrixWidth">Matrix Size:</label>
      <br><i>Default: 4</i>
      <select class="form-control" id="matrixWidth" name="matrixWidth" ngModel required>
        <option value="4" name="4">4</option>
        <option value="8" name="8">8</option>
        <option value="12" name="12">12</option>
        <option value="16" name="16">16</option>
      </select>
    </div>


    <div class="form-group">
      <label>Payoff Matrix</label>
      <table>
        <tr>
          <td></td>
          <td class="s1">S1</td>
          <td class="s2">S2</td>
          <td class="s3">S3</td>
          <td class="s4">S4</td>
        </tr>
        <tr>
          <td class="s1">S1</td>
          <td><input type="text" class="form-control" name="cell1" ngModel required></td>
          <td><input type="text" class="form-control" name="cell2" ngModel required></td>
          <td><input type="text" class="form-control" name="cell3" ngModel></td>
          <td><input type="text" class="form-control" name="cell4" ngModel></td>
        </tr>
        <tr>
          <td class="s2">S2</td>
          <td><input type="text" class="form-control" name="cell5" ngModel required></td>
          <td><input type="text" class="form-control" name="cell6" ngModel required></td>
          <td><input type="text" class="form-control" name="cell7" ngModel></td>
          <td><input type="text" class="form-control" name="cell8" ngModel></td>
        </tr>
        <tr>
          <td class="s3">S3</td>
          <td><input type="text" class="form-control" name="cell9" ngModel></td>
          <td><input type="text" class="form-control" name="cell10" ngModel></td>
          <td><input type="text" class="form-control" name="cell11" ngModel></td>
          <td><input type="text" class="form-control" name="cell12" ngModel></td>
        </tr>
        <tr>
          <td class="s4">S4</td>
          <td><input type="text" class="form-control" name="cell13" ngModel></td>
          <td><input type="text" class="form-control" name="cell14" ngModel></td>
          <td><input type="text" class="form-control" name="cell15" ngModel></td>
          <td><input type="text" class="form-control" name="cell16" ngModel></td>
        </tr>
      </table>
    </div>
    <div class="form-group">
      <label>Strategy Percentages</label><br/>
      <i>Should add up to 100</i><br>
      <i>Default: Equal Probability for Each Used</i>
      <table>
        <tr>
          <td class="s1">S1</td>
          <td class="s2">S2</td>
          <td class="s3">S3</td>
          <td class="s4">S4</td>
        </tr>
        <tr>
          <td><input type="text" class="form-control" name="s1percent" ngModel></td>
          <td><input type="text" class="form-control" name="s2percent" ngModel></td>
          <td><input type="text" class="form-control" name="s3percent" ngModel></td>
          <td><input type="text" class="form-control" name="s4percent" ngModel></td>
        </tr>
      </table>
    </div>
    <hr>
    <button type="submit" class="btn btn-primary">Generate Network!</button>

  </form>
  <br/>
  <button class="btn btn-warning" (click)="nextGen()">Next Generation!</button>

</div>

<div class="infoBar" [hidden]="!showSettings">
  <p class="lead text-center">Generation: {{ genNum }}</p>
  <hr>
  <p class="lead text-center">S1: {{ s1count }}/{{ cellTotal }} - {{ s1countpercent }}%</p>
  <p class="lead text-center">S2: {{ s2count }}/{{ cellTotal }} - {{ s2countpercent }}%</p>
  <p class="lead text-center">S3: {{ s3count }}/{{ cellTotal }} - {{ s3countpercent }}%</p>
  <p class="lead text-center">S4: {{ s4count }}/{{ cellTotal }} - {{ s4countpercent }}%</p>
</div>

<div class="showButton">
  <button type="button" class="btn btn-outline-info btn-sm" (click)="toggleShowSettings()">Show/Hide Options</button>
</div>

<div class="readMe" *ngIf="showHelp">
  <button class="btn btn-danger closeButton" (click)="toggleShowHelp()">Close</button>
  <h1 class="display-4 text-center">GenLab Help</h1>
  <p class="lead text-center">Thanks for using GenLab!</p>
  <p class="lead text-center">This program can be used to visualize game-theoretical models such as the prisoner's dilemma,
    hawk-dove game, and more.</p>
  <p class="lead text-center">To use, simply fill out desired options and click <b>Generate Network!</b> to create your
    network.  Once the network has been created, press the <b>Next Generation!</b> button to progress through the generations
    of this network as many times as you wish.  As you can see, many of the options have indicated default values that are used
    when a value is not provided for that element.  If you are happy with the default values, feel free to leave some options blank.
    The only option that <b>must</b> be filled out is the payoff matrix, or the program will not work. More information about each
    option can be found below:</p>
  <h4>Network Type:</h4>
  <p class="lead">There are two options for the network type: 1D and 2D.  A 2D network will be a full lattice of cells which interact
    with those surrounding them, while a 1D network will be a single row of cells that only interact with those on the left and right
    sides of them.</p>
    <p class="lead">Sequential generations for 1D networks will stack on top of one another so you can see how the populations change over
    time, while for 2D networks new generations will replace the previous one. If you don't choose a network type, the program will default to generating
      a 2D network.  It should also be noted that the <b>Neighborhood Type</b> option only applies to 2D networks, so if generating a 1D network it will be ignored.</p>
  <h4>Wrap?</h4>
  <p class="lead">This binary option indicates a preference for cells on the edge of the network interacting with those on the opposite side.  If checked,
    they will exhibit this behavior.  For example, let's say a certain cell is in the top right corner of a 2D network.  If wrapping is turned on,
    this cell will play against the cell in the top left corner, bottom right corner, and (if using a Moore neighborhood--more on that next) bottom
    left corner, bottom right corner second-rightmost cell and top left corner second-highest cell.  If wrapping is not on, it will play against the other three
    cells around it but not the five mentioned.  For 1D networks, cells on the left and right edges will play against the cells on the edge opposite to them if wrapping is on.</p>
    <p class="lead">By default, this option is on, so if you wish to turn it off you will need to check and then uncheck the box.</p>
  <h4>Neighborhood Type</h4>
  <p class="lead">This option (which as mentioned only applies for 2D networks) indicates whether each cell will interact will all 8 cells surrounding it (top left corner,
    top middle, top right corner, right side, bottom right corner, bottom middle, bottom left corner, and left side) or just the cells in its four cardinal directions (above it,
    to the right, below it, and to the left).  The neighborhood type that interacts will all 8 cells around the player cell is a <b>Moore neighborhood</b>,
    while <b>Von Neumann neighborhoods</b> only include four cells around the player cell.  Note that if you do not touch this the program will default to using Moore neighborhoods.</p>
  <p class="lead"> Here is a visualization:</p>
  <table style="width:100%;">
    <tr>
      <td align="middle">
  <label>Von Neumann</label>
  <table>
    <tr>
      <td></td>
      <td class="helpCell"></td>
      <td></td>
    </tr>
    <tr>
      <td class="helpCell"></td>
      <td class="helpCellMain"> </td>
      <td class="helpCell"></td>
    </tr>
    <tr>
      <td></td>
      <td class="helpCell"></td>
      <td></td>
    </tr>
  </table>
      </td>
      <td align="middle">

    <label>Moore</label>
    <table>
      <tr>
        <td class="helpCell"></td>
        <td class="helpCell"></td>
        <td class="helpCell"></td>
      </tr>
      <tr>
        <td class="helpCell"></td>
        <td class="helpCellMain"> </td>
        <td class="helpCell"></td>
      </tr>
      <tr>
        <td class="helpCell"></td>
        <td class="helpCell"></td>
        <td class="helpCell"></td>
      </tr>
    </table>

      </td>
    </tr>
  </table>
  <h4>Network Size</h4>
  <p class="lead">The network size determines the number of cells in the entire network.  For 1D networks this is the width, so this
    number is also the total number of cells in the network.  For 2D networks this is both the width and the height, so the total number of
    cells in the network is this number squared.  For example, if you put 50 here and generate a 2D network, that network will have 50^2 = 2,500 cells.
    Be careful when generating very large networks, as doing so may cause the program to slow down.  If you generate an extremely large network that is too slow in updating,
    simply generate a smaller one and garbage collection will take care of the rest to speed the program up.  It should be noted that if you leave this field blank, the program
    will default to generating networks of size 20.</p>
  <h4>Cell Size</h4>
  <p class="lead">This option simply allows you to change the size of each cell in the graph (measured in pixels).  So if you put 5 here, each cell will be 5 pixels high and 5 pixels wide.
    This can be useful when generating very large networks that need a smaller cell size to fit on the screen, or very small networks that would be easier to see if each cell were a bit bigger.
    Note that if this is left blank, the program will default to 10 pixels in size for each cell.</p>
  <h4>Payoff Matrix</h4>
  <p class="lead">Perhaps the most important element of the program, this matrix allows you to set the payoffs for the games being modelled.  You can have up to four strategies in the game being modelled,
    and as few as two.  Simply fill out the game you wish to model, and the program will figure out which strategies you are using and omit the rest.  For example, if you are modelling the classic prisoner's dilemma
    with the two strategies cooperate and defect and fill out the matrix as such, the program will know and generate a matrix with just those two.  If you fill out the matrix incompletely, the network may still generate but you
    will be unable to advance generations and will have to re-generate the network once it is fixed.</p>
  <p class="lead">It should also be noted that the matrix should be filled just with <b>player 1's</b> payoffs, so each cell in the matrix should have just one number in it.  For example, if given the game</p>
  <table>
    <tr>
      <td class="helpTable"></td>
      <td class="helpTable">Cooperate</td>
      <td class="helpTable">Defect</td>
    </tr>
    <tr>
      <td class="helpTable">Cooperate</td>
      <td class="helpTable">2,2</td>
      <td class="helpTable">0,3</td>
    </tr>
    <tr>
      <td class="helpTable">Defect</td>
      <td class="helpTable">3,0</td>
      <td class="helpTable">1,1</td>
    </tr>
  </table>
  <p class="lead">The payoff matrix should look like this: </p>
  <table>
    <tr>
      <td class="helpTable"></td>
      <td class="helpTable">S1</td>
      <td class="helpTable">S2</td>
      <td class="helpTable">S3</td>
      <td class="helpTable">S4</td>
    </tr>
    <tr>
      <td class="helpTable">S1</td>
      <td class="helpTable">2</td>
      <td class="helpTable">0</td>
      <td class="helpTable"></td>
      <td class="helpTable"></td>
    </tr>
    <tr>
      <td class="helpTable">S2</td>
      <td class="helpTable">3</td>
      <td class="helpTable">1</td>
      <td class="helpTable"></td>
      <td class="helpTable"></td>
    </tr>
    <tr>
      <td class="helpTable">S3</td>
      <td class="helpTable"></td>
      <td class="helpTable"></td>
      <td class="helpTable"></td>
      <td class="helpTable"></td>
    </tr>
    <tr>
      <td class="helpTable">S4</td>
      <td class="helpTable"></td>
      <td class="helpTable"></td>
      <td class="helpTable"></td>
      <td class="helpTable"></td>
    </tr>
  </table>
  <p class="lead">Also note that this is the only option that <b>cannot</b> be left blank, so be sure to fill this out before generating the network.</p>
  <h4>Strategy Percentages</h4>
  <p class="lead">The boxes represent the preferred percentage of each strategy that will be created during initial generation.  Be sure to only fill out boxes for strategies that are used
    (so if using S1, S2, and S3, leave S4 blank) and to have the given percentages add up to 100%.  For example, if you are using S1, S2, and S3, you might put 10 for S1, 50 for S2, 40 for S3,
    and leave S4 blank.  This will generate a network that is comprised of approximately 10% S1, 50% S2, 40% S3, and no S4.</p>
  <p class="lead">Alternatively, you can leave these boxes blank to generate equal percentages of each strategy used.  So, if using S1 and S2, the network will generate with 50% of each; if using S1,
    S2, and S3, there will be about 33.3% of each; and if using all four strategies, there will be about 25% of each.  This may be easier if initial proportions do not matter.</p>
</div>
